body {
  color: lightblue !important ;
  background-color: aliceblue !important;
}

.todo-item {
  border: 1px solid lightblue;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo-item-finished {
  background-color: rgb(214, 214, 214);
}

.todo-content {
  padding: 1em;
}
.todo-content-finished {
  color: rgb(244, 252, 255) !important ;
  text-decoration-line: line-through;
}

.add-item-row {
  margin-top: 50px !important;
  margin-bottom: 30px;
}
.input-box {
  padding: 10px;
  width: 100%;
  border: 1px solid lightblue;
}
.input-box:focus {
  outline: none;
}
.button-add {
  height: 40px;
  width: 100%;
  border: none;
  background-color: lightblue;
  color: white;
}
.button-add:hover {
  background-color: white;
  color: lightblue;
  border: 2px solid lightblue;
}
.button-delete {
  background-color: white;
  border: 2px solid lightblue;
  color: lightblue;
  margin: 10px;
}
.button-delete:hover {
  background-color: lightblue;
  color: #ffffff;
}

.item-complete {
  background-color: gainsboro;
  color: white;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0.625rem 3rem;
}

.header-title {
  font-size: 2rem;
  font-weight: 900;
  cursor: pointer;
}

.header-login-btn {
  border: 1px solid black;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  background-color: rgb(212, 243, 255);
}
